body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #24145e;
}

@keyframes rotation {
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes shrinkAndGrow {
  to {
    transform: scale(0);
  }
  25% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(0);
  }
  75% {
    transform: scale(1);
  }
  from {
    transform: scale(0);
  }
}

@keyframes expandHorizontal {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes appearFromBottom {
  from {
    transform: translateY(1000px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes shakingUpAndDown {
  from {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(10px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes soaking {
  to {
    transform: translateY(-250px) scale(0);
  }
}

@keyframes shrinkHorizontal {
  to {
    transform: scaleX(0);
  }
}

#planet_2 {
  animation: rotation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  transform-box: fill-box;
  transform-origin: center;
}

#planet_1 {
  animation: rotation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-box: fill-box;
  transform-origin: center;
}

#star_6 {
  animation: shrinkAndGrow 4s infinite;
  transform-box: fill-box;
  transform-origin: center;
}

#star_2 {
  animation: shrinkAndGrow 4s infinite;
  transform-box: fill-box;
  transform-origin: center;
}

#star_4 {
  animation: shrinkAndGrow 3s infinite;
  animation-timing-function: linear;
  transform-box: fill-box;
  transform-origin: center;
}

#star_6 {
  animation: shrinkAndGrow 6s infinite;
  animation-timing-function: linear;

  transform-box: fill-box;
  transform-origin: center;
}

#star_8 {
  animation: shrinkAndGrow 10s infinite;
  transform-box: fill-box;
  transform-origin: center;
}

#UFO-beam {
  animation: expandHorizontal 3.5s;
  transform-box: fill-box;
  transform-origin: center;
}

#number-0 {
  animation: appearFromBottom 3s;
}

#alien_hand-R {
  animation: shakingUpAndDown 1s infinite;
}

#alien_hand-L {
  animation: shakingUpAndDown 1s infinite 0.3s;
}

#number-0-soaking {
  animation: soaking 2s;
  transform-box: fill-box;
  transform-origin: center;
}

#UFO-beam-disappearing {
  animation: shrinkHorizontal 2s;
  transform-box: fill-box;
  transform-origin: center;
}
